.scheduleDetailOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 98, 98, 0.154);
  z-index: 2;
}


    .scheduleDetailModel {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

     background-image: url("images/back.png"); 
  background-size: cover; 
  background-repeat: no-repeat;
    border-radius: 10px;
    z-index: 3;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;  */
    border: 2px solid #cc9200;
    border-radius: 10px;
    
    }


    .ttModelContent{
      
      margin: 20px;
      
    }

    .detailItem{
      display: flex;
      justify-content: center
      ;
      margin-top: 5px;
    }

    .ttModelTitle{
      display: flex;
      justify-content: center;
      font-size: medium;
      font-weight: 800;
      font-size: 22px;
      color: #cc9200;
      margin-bottom: 5px;
    }
  
    .detailsKey{
      font-weight: 700;
      
     
    }
    .detailsValue{
      margin-left: 15px; 
      margin-right: 30px;
    }

    .ttCloseButton{
        margin-top: 10px;
  background-color: #000000;
  color: #cc9200;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-out 0.2s;
  border: 1px solid #cc9200;
  margin-right: 30px;
    }

    .ttCloseButton:hover{
      background-color: #cc9200;
      color: rgb(255, 255, 255);
    }


    .ttBookButton{
         margin-top: 10px;
  background-color:#cc9200;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-out 0.2s;
  /* border: 1px solid #cc9200; */
  margin-right: 30px;
    }

.ttBookButton:hover{
      background-color: #000000;
      color: #cc9200;
    }


    .buttonSection{
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    